.createTitle {
    margin-bottom: 25px;
    margin-top: 55px;

    font-size: 41px;
    font-weight: 400;
    color: #303134;

    text-align: center;
}

.createText {
    margin: 0;
    margin-bottom: 45px;

    font-size: 15px;
    line-height: 23px;
    color: #303134;

    text-align: center;
}