.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f6f9f9;

    .footer__copyright {
        font-size: 15px;
        color: #999999;
    }
}